<div class="nav-left-sidebar sidebar-primary">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">
            Menu
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1"
              aria-controls="submenu-1">
              <mat-icon style="margin-right: 7px;">dashboard</mat-icon>Dashboard
              <span
                class="badge badge-success">6</span></a>
            <div id="submenu-1" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2"
                    aria-controls="submenu-1-2">E-Commerce</a>
                  <div id="submenu-1-2" class="collapse submenu" style="">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['../main']">E Commerce Dashboard</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="dashboard-finance.html">Finance</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="dashboard-sales.html">Sales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1"
                    aria-controls="submenu-1-1">Infulencer</a>
                  <div id="submenu-1-1" class="collapse submenu" style="">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="dashboard-influencer.html">Influencer</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="influencer-profile.html">Influencer Profile</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2"
              aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>UI Elements</a>
            <div id="submenu-2" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="pages/cards.html">Cards <span class="badge badge-secondary">New</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/general.html">General</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/carousel.html">Carousel</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/listgroup.html">List Group</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/typography.html">Typography</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/accordions.html">Accordions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/tabs.html">Tabs</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-divider">
            Management
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6"
              aria-controls="submenu-6">
              <mat-icon style="margin-right: 7px;">library_books</mat-icon> Booking
            </a>
            <div id="submenu-6" class="collapse submenu">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-booking']" data-toggle="collapse" aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> format_list_bulleted</mat-icon>
                    Booking List
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-booking/booking-chart']" data-toggle="collapse" aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> insert_chart_outlined</mat-icon>
                    Chart Booking
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7"
              aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Apps <span
                class="badge badge-secondary">New</span></a>
            <div id="submenu-7" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="pages/inbox.html">Inbox</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/email-details.html">Email Detail</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/email-compose.html">Email Compose</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/message-chat.html">Message Chat</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8"
              aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>Icons</a>
            <div id="submenu-8" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="pages/icon-fontawesome.html">FontAwesome Icons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/icon-material.html">Material Icons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/icon-simple-lineicon.html">Simpleline Icon</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/icon-themify.html">Themify Icon</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/icon-flag.html">Flag Icons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/icon-weather.html">Weather Icon</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9"
              aria-controls="submenu-9"><i class="fas fa-fw fa-map-marker-alt"></i>Maps</a>
            <div id="submenu-9" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="pages/map-google.html">Google Maps</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/map-vector.html">Vector Maps</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10"
              aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Menu Level</a>
            <div id="submenu-10" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Level 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11"
                    aria-controls="submenu-11">Level 2</a>
                  <div id="submenu-11" class="collapse submenu" style="">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Level 1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Level 2</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Level 3</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
