<div class="nav-left-sidebar sidebar-primary">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">
            Menu
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1"
              aria-controls="submenu-1">
              <mat-icon style="margin-right: 7px;">dashboard</mat-icon>Dashboard
              <span class="badge badge-success">6</span>
            </a>
            <div id="submenu-1" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2"
                    aria-controls="submenu-1-2">E-Commerce</a>
                  <div id="submenu-1-2" class="collapse submenu" style="">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['../main']">E Commerce Dashboard</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1"
                    aria-controls="submenu-1-1">Influencer</a>
                  <div id="submenu-1-1" class="collapse submenu" style="">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="dashboard-influencer.html">Influencer</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="influencer-profile.html">Influencer Profile</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-divider">
            Management
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8"
              aria-controls="submenu-8">
              <mat-icon style="margin-right: 7px;">account_box</mat-icon>
              Account
            </a>
            <div id="submenu-8" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-account']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> format_list_bulleted</mat-icon>
                    Account List
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-account/account-chart']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> insert_chart_outlined</mat-icon>
                    Chart Account
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7"
              aria-controls="submenu-7">
              <mat-icon style="margin-right: 7px;">store</mat-icon> Store <span class="badge badge-secondary">New</span>
            </a>
            <div id="submenu-7" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-store']" data-toggle="collapse" aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> format_list_bulleted</mat-icon>
                    Store List
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-store/store-chart']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> insert_chart_outlined</mat-icon>
                    Chart Store
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6"
              aria-controls="submenu-6">
              <mat-icon style="margin-right: 7px;">library_books</mat-icon> Booking
            </a>
            <div id="submenu-6" class="collapse submenu">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-booking']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> format_list_bulleted</mat-icon>
                    Booking List
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-booking/booking-chart']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> insert_chart_outlined</mat-icon>
                    Chart Booking
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-18"
              aria-controls="submenu-18">
              <mat-icon style="margin-right: 7px;"> money_off</mat-icon>
              Cost
            </a>
            <div id="submenu-18" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-cost']" data-toggle="collapse" aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> format_list_bulleted</mat-icon>
                    Cost List
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-cost/cost-chart']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> insert_chart_outlined</mat-icon>
                    Chart Cost
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9"
              aria-controls="submenu-9">
              <mat-icon style="margin-right: 7px;"> attach_money</mat-icon>
              Revenue
            </a>
            <div id="submenu-9" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-revenue']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> format_list_bulleted</mat-icon>
                    Revenue List
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-revenue/revenue-chart']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> insert_chart_outlined</mat-icon>
                    Chart Revenue
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10"
              aria-controls="submenu-10">
              <mat-icon svgIcon="Marketing-Icon" style="margin-right: 7px;"></mat-icon>
              Marketing
            </a>
            <div id="submenu-10" class="collapse submenu" style="">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-marketing']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> format_list_bulleted</mat-icon>
                    Marketing List
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['management-marketing/marketing-chart']" data-toggle="collapse"
                    aria-expanded="false">
                    <mat-icon style="margin-right: 7px;"> insert_chart_outlined</mat-icon>
                    Chart Marketing
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
