<div class="dashboard-wrapper">
  <div class="container-fluid dashboard-content ">
    <!-- ============================================================== -->
    <!-- pageHeaderContent  -->
    <!-- ============================================================== -->
    <app-header-main-action [titleComponent]=titleComponent></app-header-main-action>
    <!-- ============================================================== -->
    <!-- end pageHeaderContent  -->
    <!-- ============================================================== -->
    <div class="ecommerce-widget">
      <!--End Summary1-->
      <app-revenue-list>
      </app-revenue-list>
    </div>
  </div>
  <!-- footer -->
  <!-- ============================================================== -->
  <app-footer></app-footer>
  <!-- ============================================================== -->
  <!-- end footer -->
</div>
