<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
      <!-- ============================================================== -->
      <!-- pageHeaderContent  -->
      <!-- ============================================================== -->
      <app-header-main-action titleComponent={{titleComponent}}></app-header-main-action>
      <!-- ============================================================== -->
      <!-- end pageHeaderContent  -->
      <!-- ============================================================== -->
      <div class="ecommerce-widget">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <app-summary-revenue-in-month></app-summary-revenue-in-month>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <app-summary-cost-in-month></app-summary-cost-in-month>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <app-summary-profit-in-month></app-summary-profit-in-month>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <app-summary-number-of-bookings-in-month></app-summary-number-of-bookings-in-month>
          </div>
        </div>
        <div class="row">
          <!-- recent bookings  -->
          <!-- ============================================================== -->
          <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
            <app-recent-bookings></app-recent-bookings>
          </div>
          <!-- ============================================================== -->
          <!-- end recent bookings  -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- recent costs  -->
          <!-- ============================================================== -->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <app-recent-cost></app-recent-cost>
          </div>
          <!-- ============================================================== -->
          <!-- end customer acquistion  -->
          <!-- ============================================================== -->
        </div>
        <div class="row">
          <!-- ============================================================== -->
          <!-- product category  -->
          <!-- ============================================================== -->
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
            <app-summary-revenue-by-category></app-summary-revenue-by-category>
          </div>
          <!-- ============================================================== -->
          <!-- end product sales  -->
          <!-- ============================================================== -->
          <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
            <!-- ============================================================== -->
            <!-- top performing  -->
            <!-- ============================================================== -->
            <app-top-performing-store></app-top-performing-store>
            <!-- ============================================================== -->
            <!-- end top performing  -->
            <!-- ============================================================== -->
          </div>
        </div>

        <div class="row">
          <!-- ============================================================== -->
          <!-- sales  -->
          <!-- ============================================================== -->
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <app-summary-number-of-account></app-summary-number-of-account>
          </div>
          <!-- ============================================================== -->
          <!-- end sales  -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- new customer  -->
          <!-- ============================================================== -->
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <app-summary-number-of-new-customer></app-summary-number-of-new-customer>
          </div>
          <!-- ============================================================== -->
          <!-- end new customer  -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- visitor  -->
          <!-- ============================================================== -->
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <app-summary-number-of-guest></app-summary-number-of-guest>
          </div>
          <!-- ============================================================== -->
          <!-- end visitor  -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- new store in month  -->
          <!-- ============================================================== -->
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <app-summary-number-of-new-store></app-summary-number-of-new-store>
          </div>
          <!-- ============================================================== -->
          <!-- end new store in month  -->
          <!-- ============================================================== -->
        </div>
        <div class="row">
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Recent new Store  -->
          <!-- ============================================================== -->
          <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
            <app-recent-new-store></app-recent-new-store>
          </div>

          <!-- ============================================================== -->
          <!-- end category revenue  -->
          <!-- ============================================================== -->
          <!--Number store type-->
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
            <app-summary-number-store-type></app-summary-number-store-type>
          </div>
           <!--End Number store type-->
        </div>
        <!--Marketing-->
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- ============================================================== -->
            <!-- marketing by social source  -->
            <!-- ============================================================== -->
           <app-summary-marketing-by-social></app-summary-marketing-by-social>
            <!-- ============================================================== -->
            <!-- end marketing by social source  -->
            <!-- ============================================================== -->
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- ============================================================== -->
            <!-- advertising media  -->
            <!-- ============================================================== -->
            <app-summary-advertising-media></app-summary-advertising-media>
            <!-- ============================================================== -->
            <!-- end advertising media  -->
            <!-- ============================================================== -->
          </div>
          <!-- ============================================================== -->
          <!-- end sales traffice source  -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- sales traffic country source  -->
          <!-- ============================================================== -->
          <div class="col-xl-3 col-lg-12 col-md-6 col-sm-12 col-12">
            <app-summary-marketing-at-countries></app-summary-marketing-at-countries>
          </div>
          <!-- ============================================================== -->
          <!-- end sales traffice country source  -->
          <!-- ============================================================== -->
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <app-footer></app-footer>
  <!-- ============================================================== -->
  <!-- end footer -->
  <!-- ============================================================== -->
</div>
