<mat-card-content class="card-body">
  <div class="chartjs-container" *ngIf="donutChartModel==null">
    <mat-spinner style="margin-left:auto;
                          margin-right:auto;" color="accent" diameter=30>
    </mat-spinner>
  </div>
  <div class="chartjs-container" *ngIf="donutChartModel!=null">
    <canvas height="{{sizeChart}}" baseChart [data]="donutChartModel.chartData" [labels]="donutChartModel.chartLabels"
      [options]="donutChartModel.chartOptions" [colors]="donutChartModel.chartColors"
      [legend]="donutChartModel.chartLegend" [chartType]="donutChartModel.chartType"
      [plugins]="donutChartModel.chartPlugins">
    </canvas>
  </div>
  <!--<div class="ct-chart-product ct-golden-section"></div>-->
</mat-card-content>
