<mat-card-content class="card-body">
  <div class="chartjs-container" *ngIf="lineChartModel==null">
    <mat-spinner style="margin-left:auto;
                          margin-right:auto;" color="accent"  diameter=30>
    </mat-spinner>
  </div>
  <div class="chartjs-container" *ngIf="lineChartModel!=null">
    <canvas baseChart [datasets]="lineChartModel.chartData" [labels]="lineChartModel.chartLabels"
      [options]="lineChartModel.chartOptions" [colors]="lineChartModel.chartColors"
      [legend]="lineChartModel.chartLegend" [chartType]="lineChartModel.chartType"
      [plugins]="lineChartModel.chartPlugins">
    </canvas>
  </div>
  <!--<div class="ct-chart-product ct-golden-section"></div>-->
</mat-card-content>
