<div class="row">
  <!-- ============================================================== -->
  <!-- profile -->
  <!-- ============================================================== -->
  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
    <!-- ============================================================== -->
    <!-- card profile -->
    <!-- ============================================================== -->
    <app-account-details-information-contact [accountDetails]="accountDetails"></app-account-details-information-contact>
    <!-- ============================================================== -->
    <!-- end card profile -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- end profile -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- campaign data -->
  <!-- ============================================================== -->
  <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
    <!-- ============================================================== -->
    <!-- campaign tab one -->
    <!-- ============================================================== -->
    <app-account-details-campaign></app-account-details-campaign>
    <!-- ============================================================== -->
    <!-- end campaign tab one -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- end campaign data -->
  <!-- ============================================================== -->
</div>
