<div class="card" *ngIf="data!=null; else elseBlock">
  <h3 class="card-header">Cost Details</h3>
  <form *ngIf="inputFormControl==null">
    <div class="card-body">
      <mat-spinner style="margin-left:auto;
                              margin-right:auto;" color="accent" diameter=30>
      </mat-spinner>
    </div>
  </form>
  <form *ngIf="inputFormControl!=null; elseNull" [formGroup]="inputFormControl"
  (ngSubmit)="onClick(null);">
    <div class="card-body">
      <div class="row">
        <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
          <mat-label for="exampleFormControlTextarea1">Cost Description</mat-label>
          <textarea matInput rows="3" formControlName="costDescription" required></textarea>
          <mat-hint align="end">Max 100 characters</mat-hint>
          <mat-error *ngIf="generalService.hasErrorInputValidation('costDescription','required',inputFormControl)">
            Cost Description <strong>can not be null</strong>
          </mat-error>
          <mat-error *ngIf="generalService.hasErrorInputValidation('costDescription','maxlength',inputFormControl)">
            Cost Description <strong>can not be more than 100 characters</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
          <mat-label for="validationCustom03">Total</mat-label>
          <input matInput type="number" formControlName="total" required>
          <mat-error *ngIf="generalService.hasErrorInputValidation('total','required',inputFormControl)">
            Total <strong>can not be null</strong>
          </mat-error>
          <mat-error *ngIf="generalService.hasErrorInputValidation('total','min',inputFormControl)">
            Total <strong>can not be lower than 10</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
          <mat-label for="validationCustom05">Cost type</mat-label>
          <mat-select *ngIf="data.costType!=null" formControlName="costTypeId" required [(value)]="costTypeSelected">
            <mat-option *ngFor="let costType of costTypes" [value]="costType.id">
              {{costType.costTypeName}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">Choose one</mat-hint>
          <mat-error *ngIf="generalService.hasErrorInputValidation('costTypeId','required',inputFormControl)">
            Cost type <strong>can not be null</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
          <mat-label for="validationCustomUsername">Create At</mat-label>
          <input matInput type="text" readonly value="{{data.createAt.toDateString()}}" required>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Cancel</button>
      <button mat-raised-button color="primary" class="float-right">Update</button>
    </div>
  </form>
</div>

<ng-template #elseBlock class="card">
  <h3 class="card-header">Insert Cost</h3>
  <form [formGroup]="inputFormControl" (ngSubmit)="onClick(null);">
    <div class="card-body">
      <div class="row">
        <mat-form-field appearance="outline" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
          <mat-label for="exampleFormControlTextarea1">Cost Description</mat-label>
          <textarea matInput rows="3" formControlName="costDescription" required></textarea>
          <mat-hint align="end">Max 100 characters</mat-hint>
          <mat-error *ngIf="generalService.hasErrorInputValidation('costDescription','required',inputFormControl)">
            Cost Description <strong>can not be null</strong>
          </mat-error>
          <mat-error *ngIf="generalService.hasErrorInputValidation('costDescription','maxlength',inputFormControl)">
            Cost Description <strong>can not be more than 100 characters</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
          <mat-label for="validationCustom03">Total</mat-label>
          <input matInput type="number" formControlName="total" required>
          <mat-error *ngIf="generalService.hasErrorInputValidation('total','required',inputFormControl)">
            Total <strong>can not be null</strong>
          </mat-error>
          <mat-error *ngIf="generalService.hasErrorInputValidation('total','min',inputFormControl)">
            Total <strong>can not be lower than 10</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
          <mat-label for="validationCustom05">Cost type</mat-label>
          <mat-select formControlName="costTypeId" required [(value)]="costTypeSelected">
            <mat-option *ngFor="let costType of costTypes" [value]="costType.id">
              {{costType.costTypeName}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">Choose one</mat-hint>
          <mat-error *ngIf="generalService.hasErrorInputValidation('costTypeId','required',inputFormControl)">
            Cost type <strong>can not be null</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Cancel</button>
      <button mat-raised-button color="primary" class="float-right" >
        Update</button>
    </div>
  </form>
</ng-template>
