<mat-card class="card">
  <h4 class="card-header"> Marketing By Social Network</h4>
  <mat-card-content class="card-body p-0">
    <div class="table-responsive">
      <table class="table">
        <thead class="bg-light">
          <tr class="border-0">
            <th class="border-0"></th>
            <th class="border-0">Social</th>
            <th class="border-0">Approach</th>
            <th class="border-0">Number Post</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marketingSocial of marketingSocials">
            <td>
              <mat-icon style="width: 50px; height:35px" svgIcon="{{marketingSocial.logoUrl}}"></mat-icon>
            </td>
            <td> {{marketingSocial.name}} </td>
            <td>
              {{marketingSocial.approachUser}}
                <mat-icon style="width: 20px;">person</mat-icon>
            </td>
            <td>{{marketingSocial.postNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
  <div class="card-footer text-center">
    <a [routerLink]='[""]' class="btn btn-primary-link">View More</a>
  </div>
</mat-card>
